 body {
    margin: 0;
}

.container{
    display: grid;
    grid-template-rows: 100px 100px auto 100px;
    grid-template-areas: 
        "hd"
        "nb"
        "main"
        "ft";
}

.header{
    background-color: red;
    grid-area: hd;
}

.navbar{
    background-color: orange;
    grid-area: nb;
}

.content{
    background-color: green;
    grid-area: main;
}

.footer{
    background-color: hotpink;
    grid-area: ft;
}


@media(min-width:600px){
    .container{
        display:grid;
        grid-template-columns: 20vw 40vw 40vw;
        grid-template-rows: 10vh 80vh 10vh;
        grid-template-areas: 
        "hd hd hd"
        "nb main main"
        "ft ft ft";
    }
}