 body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1{
    text-align: center;
}

.container{
    display: grid;
    grid-template-rows: 100px 100px auto 50px;
    grid-template-areas: 
        "hd"
        "nb"
        "main"
        "ft";
}

.header{
    grid-area: hd;
}

.navbar{
    background-color: #82b3c9;
    grid-area: nb;
    
}

.content{
    grid-area: main;
}

.footer{
    grid-area: ft;
    text-align: center;
    background-color:#b3e5fc;
}


@media(min-width:600px){
    .container{
        display:grid;
        grid-template-columns: 20vw 40vw 40vw;
        grid-template-rows: 10vh 80vh 10vh;
        grid-template-areas: 
        "hd hd hd"
        "nb main main"
        "ft ft ft";
    }
}