.container{
    display: grid;
    grid-template-rows: 100px auto 100px;
}

.header{
    background-color: red;
}

.content{
    background-color: green;
}

.footer{
    background-color: hotpink;
}
