.post{
    display: grid;
    grid-template-rows: 70px 150px auto 20px;
    grid-template-columns: 100%;
    grid-template-areas: 
    "ph ph"
    "pi pi"
    "pa pa"
    "pl pl";
    padding: 20px;
}

.postHeader{
    grid-area: ph;
}

.postArticle{
    grid-area: pa;
}

.postImg{
    grid-area: pi;
}

#firstPostImg{
    background: url(../images/golden-gate-bridge.jpg) no-repeat center center;
    background-size: contain;
}

#secondPostImg{
    background: url(../images/nature.jpg) no-repeat center center;
    background-size: contain;
}

#thirdPostId{
    background: url(../images/italy.jpg) no-repeat center center;
    background-size: contain;
}

#fourthPostId{
    background: url(../images/the-road.jpg) no-repeat center center;
    background-size: contain;
}

.postLink{
    grid-area: pl;
}

@media(min-width:600px){
    .post{
        display:grid;
        grid-template-columns: 50% 50% ;
        grid-template-rows: 20% 70% 10%;
        grid-template-areas: 
        "ph ph"
        "pa pi"
        "pl pl";
    }
}
