.post{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 35% 35% 10%;
    grid-template-areas: 
    "ph ph"
    "pi pi"
    "pa pa"
    "pl pl";
    padding: 20px;
    border: 3px solid #b3e5fc;
    border-radius: 10px;
    box-shadow: 10px 9px 10px -4px rgba(66,65,66,0.78);
    
}

.postHeader{
    grid-area: ph;
}

.postArticle{
    grid-area: pa;
}

.postImg{
    grid-area: pi;
}

#firstPostImg{
    background: url(../images/golden-gate-bridge.jpg) no-repeat center center;
    background-size: contain;
}

#secondPostImg{
    background: url(../images/nature.jpg) no-repeat center center;
    background-size: contain;
}

#thirdPostId{
    background: url(../images/italy.jpg) no-repeat center center;
    background-size: contain;
}

#fourthPostId{
    background: url(../images/the-road.jpg) no-repeat center center;
    background-size: contain;
}

.postLink{
    grid-area: pl;
}

.button{
    background-color: #82b3c9;
    color: white;
    text-align: center;
    cursor: pointer;
    padding: 15px 32px;
    border-radius: 5px;
    text-decoration: none;
}

.button:hover{
    background-color: #b3e5fc;
    color: black;
}

@media(min-width:750px){
    .post{
        display:grid;
        grid-template-columns: 50% 50% ;
        grid-template-rows: 20% 70% 10%;
        grid-template-areas: 
        "ph ph"
        "pa pi"
        "pl pl";
    }

}
